<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Sarafan</title>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
        var messages = [# th:utext="${messages}" /];
        var profile = [# th:utext="${profile}" /];
    </script>
</head>
<body>
<div id="app"></div>
<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
</body>
</html>
